ul {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 98px;
  border: 1px solid grey;
  list-style: none;
  background-color: lightgray;
  
}

li:hover {
  background-color: yellow;
}

.selected {
  font-size: 100px;

}